<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0161698 -0.0505002 0.0425447" rpy="1.50948 -0.000647175 1.57058" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0161698 -0.0505002 0.0425447   0.484326 -0.484553 0.514877 0.515304 tool0 camera_link" />
</launch>
