<?xml version="1.0"?>

<launch>

  <arg name="fig_prefix_name" default="frame_"/>
  <arg name="labeller_name" default="name"/>

  <rosparam command="load" file="$(find robothon2023_vision)/config/labels.yaml" />
  <param name="dataset_path" value="$(find robothon2023_vision)/dataset/" />
  <param name="fig_prefix_name" value="$(arg fig_prefix_name)" />

  <node name="labeling_node" pkg="robothon2023_vision" type="main_labeling.py" output="screen">
    <rosparam command="load" file="$(find robothon2023_vision)/config/labellers.yaml" />
    <param name="labeller_name" value="$(arg labeller_name)" />

  </node>

</launch>
