cable_winding:
  action_type: "cable"

  move_to_cable_picking_approach:
    skill_type: "ur_move_to"
    goal_frame: "cable_picking_approach"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3
    ik: true
  move_to_cable_picking:
    skill_type: "ur_move_to"
    goal_frame: "cable_picking"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3
    ik: false
    # ik: true

  gripper_position_1:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_50_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)
    asinc: true


  close_gripper:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_0_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)

  move_after_picking:
    skill_type: "ur_linear_move"
    reference_frame: "real_tool"
    tool_frame: "real_tool"
    traslation: [0,-0.02,-0.04]
    rotation: [0,0,0,1]
    velocity: 1
    # velocity: 0.3
    acceleration: 5
    n_point: 1

  # up_after_picking:
  #   skill_type: "ur_linear_move"
  #   reference_frame: "reference"
  #   tool_frame: "real_tool"
  #   traslation: [0,0,-0.04]
  #   rotation: [0,0,0,1]
  #   velocity: 0.4
  #   acceleration: 5
  #   n_point: 1

  up_after_insertion:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "real_tool"
    traslation: [0,0,-0.04]
    rotation: [0,0,0,1]
    velocity: 3
    acceleration: 5
    n_point: 1

  move_to_winding:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "real_tool"
    traslation: [-0.14,0.03,0.0]
    rotation: [0, 0, 0.3826834, 0.9238795]
    velocity: 1
    acceleration: 5
    n_point: 1

  move_winding_pose_1:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_1"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3

  winding_down_1:
    skill_type: "ur_linear_move"
    reference_frame: "real_tool"
    tool_frame: "tool_end"
    traslation: [-0.07,0,0]
    rotation: [0,0,0,1]
    velocity: 1
    # velocity: 0.3
    acceleration: 5
    n_point: 1

  # winding_move_1a:
  #   skill_type: "ur_linear_move"
  #   reference_frame: "tool_end"
  #   tool_frame: "tool_end"
  #   traslation: [0,0.10,0] # [0.05,0,0]
  #   rotation: [0,0,0,1]
  #   velocity: 0.1
  #   acceleration: 5
  #   n_point: 1

  winding_move_1:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "tool_end"
    traslation: [0.235,0.005,0]
    rotation: [0,0,0,1]
    velocity: 0.25
    # velocity: 0.3
    acceleration: 5
    n_point: 1

  winding_up_1:
    skill_type: "ur_linear_move"
    reference_frame: "real_tool"
    tool_frame: "tool_end"
    traslation: [0.08,0,0]
    rotation: [0,0,-0.707,0.707]
    velocity: 5
    acceleration: 5
    n_point: 3

  # winding_move_1b:
  #   skill_type: "ur_linear_move"
  #   reference_frame: "reference"
  #   tool_frame: "tool_end"
  #   traslation: [-0.05,0,-0.01]
  #   rotation: [0, 0, 0, 1]
  #   velocity: 0.3
  #   acceleration: 2
  #   n_point: 1

  winding_move_pose_2:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_2"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3

  winding_move_01:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_01"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3

  winding_move_02:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_02"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 1

  winding_move_03:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_03"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 1

  release_floor:
    skill_type: "ur_linear_move"
    reference_frame: "tool_end"
    tool_frame: "tool_end"
    traslation: [0,0,-0.003]
    rotation: [0, 0, 0, 1]
    velocity: 1
    acceleration: 2
    n_point: 1

  push_out_01:
    skill_type: "ur_simple_touch_tool"
    MOVEX: -0.1
    MOVEY: -0.4
    MOVEZ: -1.0
    # MOVEX: 0
    # MOVEY: -1.0
    # MOVEZ: -0.7
    VELOCITY: 0.1
    ACCELERATION: 0.8
    FORCE: 30 # 25

  down_to_floor:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "tool_end"
    traslation: [0,0,0.1]
    rotation: [0,0,0,1]
    velocity: 0.1
    acceleration: 2
    n_point: 1


  winding_move_2:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "tool_end"
    traslation: [-0.17,0,0.01]
    rotation: [0, 0, 0, 1]
    velocity: 1
    # velocity: 0.3
    acceleration: 2
    n_point: 1

  winding_down_2:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "tool_end"
    traslation: [0,0.015,0.055]
    rotation: [0.707,0,0,0.707]
    velocity: 1
    acceleration: 2
    n_point: 1

  push_out:
    skill_type: "ur_simple_touch_tool"
    MOVEX: 0
    MOVEY: -1.0
    MOVEZ: -0.3
    VELOCITY: 0.1
    ACCELERATION: 0.8
    FORCE: 30 # 25

  # rotation_1:
  #   skill_type: "ur_linear_move"
  #   reference_frame: "real_tool"
  #   tool_frame: "real_tool"
  #   traslation: [0,0,0] # [0.05,0,0]
  #   rotation: [0.4617486, 0, 0, 0.8870108]
  #   velocity: 0.3
  #   acceleration: 5
  #   n_point: 1

  winding_move_3:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "tool_end"
    traslation: [0.24,0,0] # [0.05,0,0]
    rotation: [0,0,0,1]
    velocity: 1
    # velocity: 0.3
    acceleration: 5
    n_point: 1

  # winding_move_4:
  #   skill_type: "ur_linear_move"
  #   reference_frame: "reference"
  #   tool_frame: "tool_end"
  #   traslation: [0.05,0.05,0] # [0.05,0,0]
  #   rotation: [0,0,-0.707,0.707]
  #   velocity: 0.3
  #   acceleration: 5
  #   n_point: 1

  winding_up_3:
    skill_type: "ur_linear_move"
    reference_frame: "real_tool"
    tool_frame: "tool_end"
    traslation: [0,0.08,0]
    rotation: [0,0,0,1]
    velocity: 5
    acceleration: 5
    n_point: 3

  move_winding_pose_3:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_3"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 1

  move_winding_pose_4:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_4"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3

  gripper_pose_3:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_12_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)

  touch_floor:
    skill_type: "ur_simple_touch_tool"
    MOVEX: 0.0
    MOVEY: 0.0
    MOVEZ: 1.0
    VELOCITY: 0.1
    ACCELERATION: 1
    FORCE: 10

  gripper_pose_1:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_50_force_100_vel_50" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)

  pick_probe_move:
    skill_type: "ur_linear_move"
    reference_frame: "real_tool"
    tool_frame: "tool_end"
    traslation: [0,-0.07,-0.001]
    rotation: [0,0,0,1]
    velocity: 3
    acceleration: 5
    n_point: 3

  gripper_pose_2:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_18_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)

  # push:
  #   skill_type: "ur_simple_touch_tool"
  #   MOVEX: 0.0
  #   MOVEY: -1.0
  #   MOVEZ: 0.0
  #   VELOCITY: 0.05
  #   ACCELERATION: 0.5
  #   FORCE: 5

  return:
    skill_type: "ur_linear_move"
    reference_frame: "real_tool"
    tool_frame: "tool_end"
    traslation: [0,0.03,0]
    # traslation: [0,0.12,0.12]
    rotation: [0,0,0,1]
    velocity: 0.1
    acceleration: 5
    n_point: 3

  move_to_probe_before_insertion:
    skill_type: "ur_move_to"
    goal_frame: "probe_before_insertion"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 1

  move_to_probe_insertion:
    skill_type: "ur_move_to"
    goal_frame: "probe_insertion"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3

  # touch_board:
  #   skill_type: "ur_simple_touch_tool"
  #   MOVEX: 0.0
  #   MOVEY: 0.0
  #   MOVEZ: 1.0
  #   VELOCITY: 0.01
  #   ACCELERATION: 0.5
  #   FORCE: 5

  # up_to_hole:
  #   skill_type: "ur_linear_move"
  #   reference_frame: "reference"
  #   tool_frame: "tool_end"
  #   traslation: [0.0,0,-0.015]
  #   rotation: [0,0,0,1]
  #   velocity: 2
  #   acceleration: 5
  #   n_point: 3

  open_gripper:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_50_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)

  # move_to_probe_approach:
  #   skill_type: "ur_move_to"
  #   goal_frame: "probe_approach"
  #   tool_frame: "open_tip"
  #   acceleration: 10
  #   velocity: 3

  push_2:
    skill_type: "ur_simple_touch_tool"
    MOVEX: 0.0
    MOVEY: -1.0
    MOVEZ: 0.0
    VELOCITY: 0.05
    ACCELERATION: 0.5
    FORCE: 35

  # gripper_01:
  #   skill_type: "robotiq_gripper_move"
  #   property_id: "pos_85_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)
  winding_move_pose_101:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_101"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 1
  winding_move_pose_102:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_102"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 1
  winding_move_pose_103:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_103"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 1
  winding_move_pose_104:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_104"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 1
  winding_move_pose_10:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_10"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3
  winding_move_pose_11:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_11"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3
  winding_move_pose_12:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_12"
    tool_frame: "open_tip"
    acceleration: 8
    velocity: 2
  winding_move_pose_13:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_13"
    tool_frame: "open_tip"
    acceleration:  1
    velocity: 1
  winding_move_pose_14:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_14"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 3
  winding_move_pose_15:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_15"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 3

  winding_move_pose_21:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_21"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 0.25
  winding_move_pose_22:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_22"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 0.25
  winding_move_pose_23:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_23"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 0.25
  winding_move_pose_24:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_24"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3
  winding_move_pose_25:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_25"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3
  winding_move_pose_26:
    skill_type: "ur_move_to"
    goal_frame: "winding_pose_26"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3

  push_up:
    skill_type: "ur_simple_touch_base"
    MOVEX: 0
    MOVEY: 0
    MOVEZ: -1.0
    # MOVEX: 0
    # MOVEY: -1.0
    # MOVEZ: -0.7
    VELOCITY: 0.1
    ACCELERATION: 0.8
    FORCE: 18 # 25

  rotation_:
    skill_type: "ur_linear_move"
    reference_frame: "real_tool"
    tool_frame: "tool_end"
    traslation: [0,0,0]
    # traslation: [0,0.12,0.12]
    rotation: [0.707,0,0,0.707]
    velocity: 3
    acceleration: 5
    n_point: 3

  release_push_out:
    skill_type: "ur_linear_move"
    reference_frame: "tool_end"
    tool_frame: "tool_end"
    traslation: [0,0.015,0.0]
    rotation: [0, 0, 0, 1]
    velocity: 0.5
    acceleration: 0.5
    n_point: 1


  open_little_gripper:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_40_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)

  approach_probe_first:
    skill_type: "ur_linear_move"
    reference_frame: "tool_end"
    tool_frame: "tool_end"
    traslation: [0,-0.14,0.0]
    rotation: [0, 0, -0.707, 0.707]
    velocity: 0.5
    acceleration: 0.5
    n_point: 1

  approach_probe_second:
    skill_type: "ur_linear_move"
    reference_frame: "tool_end"
    tool_frame: "tool_end"
    traslation: [0,-0.08, 0.002]
    rotation: [0, 0, 0, 1]
    velocity: 0.5
    acceleration: 0.5
    n_point: 1

  gripper_1:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_11_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)
    asinc: true

  door_opening:
    skill_type: "ur_linear_move"
    reference_frame: "winding_pose_00"
    tool_frame: "winding_pose_00"
    traslation: [0,0,-0.007]
    rotation: [0, 0, -0.9659258, 0.258819]
    velocity: 10
    acceleration: 20
    n_point: 100

  door_opening_2:
    skill_type: "ur_linear_move"
    reference_frame: "winding_pose_00"
    tool_frame: "winding_pose_00"
    traslation: [0,0,-0.12]
    rotation: [0, 0, -0.3420201, 0.9396926]
    velocity: 10
    acceleration: 20
    n_point: 100

  pose_1:
    skill_type: "ur_move_to"
    goal_frame: "pose_1"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul
  pose_2:
    skill_type: "ur_move_to"
    goal_frame: "pose_2"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul
  pose_3:
    skill_type: "ur_move_to"
    goal_frame: "pose_3"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul
  pose_4:
    skill_type: "ur_move_to"
    goal_frame: "pose_4"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul
  pose_5:
    skill_type: "ur_move_to"
    goal_frame: "pose_5"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul
  pose_6:
    skill_type: "ur_move_to"
    goal_frame: "pose_6"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul
  pose_7:
    skill_type: "ur_move_to"
    goal_frame: "pose_7"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul
  pose_8:
    skill_type: "ur_move_to"
    goal_frame: "pose_8"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul
  pose_9:
    skill_type: "ur_move_to"
    goal_frame: "pose_9"
    tool_frame: "open_tip"
    acceleration: 10 #adbul
    velocity: 2.0 #abdul

  move_out:
    skill_type: "ur_linear_move"
    reference_frame: "real_tool"
    tool_frame: "real_tool"
    traslation: [0,-0.03,0]
    rotation: [0, 0, 0, 1]
    velocity: 0.2
    acceleration: 5
    n_point: 1
