example:
  action_type: "example"

  movel_test:
    skill_type: "ur_movel"

    reference_frame: "tool_end"
    tool_frame: "tool_end"
    traslation: [0,0,0]
    rotation: [-0.707,0,0,0.707]
    velocity: 0.1
    acceleration: 1
    n_point: 100

  move_gripper:
    skill_type: "robotiq_gripper_move"
    property_id: "open" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)

  move_to_one:
    skill_type: "joint_move_to"
    target_frame: "one"
    acceleration_scaling: 1
    velocity_scaling: 1
    relative_position: [0.0,0.0,0.0]
    relative_orientation: [0.0,0.0,0.0,1.0]

  move_to_two:
    skill_type: "joint_move_to"
    target_frame: "two"
    acceleration_scaling: 0.9
    velocity_scaling: 0.9
    relative_position: [0.0,0.0,0.0]
    relative_orientation: [0.0,0.0,0.0,1.0]

  move_tool:
    skill_type: "ur_linear_move_tool"
    MOVEX: 0.0
    MOVEY: 0.0
    MOVEZ: -1.0
    DISTANCE: 0.05
    VELOCITY: 0.1
    ACCELERATION: 0.5

  move_base:
    skill_type: "ur_linear_move_base"
    MOVEX: 0.0
    MOVEY: 0.0
    MOVEZ: 1.0
    DISTANCE: 0.05
    VELOCITY: 0.1
    ACCELERATION: 0.5

  touch_tool:
    skill_type: "ur_simple_touch_tool"
    MOVEX: 0.0
    MOVEY: 0.0
    MOVEZ: 1.0
    MAX_DISTANCE: 1
    RETURN_DISTANCE: 0.01
    VELOCITY: 0.05
    ACCELERATION: 0.5

  touch_base:
    skill_type: "ur_simple_touch_base"
    MOVEX: 0.0
    MOVEY: 0.0
    MOVEZ: 1.0
    MAX_DISTANCE: 1
    RETURN_DISTANCE: 0.01
    VELOCITY: 0.1
    ACCELERATION: 0.5

  movej:
    skill_type: "ur_movej"
    DISTX: 0.1
    DISTY: 0.0
    DISTZ: 0.0
    ROTX: 0.0
    ROTY: 0.0
    ROTZ: 0.0
    VELOCITY: 0.1
    ACCELERATION: 0.5

  circle:
    skill_type: "ur_circular_point"

    skill_name: "open_door"
    action_name: "example"

  open_door:
    skill_type: "ur_circular_move"

    ACCELLERATION: 0.5
    VELOCITY: 0.05
