probe_testing:
  action_type: "cable"

  move_to_probe:
    skill_type: "ur_move_to"
    goal_frame: "probe_approach"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3

  probe_gripper_position:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_30_force_100_vel_100" # pos_10_force_10_vel_20   (pos_mm_force_N_vel_m/s)

  down_to_probe:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "tool_end"
    traslation: [0,-0.012,0.132]
    rotation: [0.3826834, 0, 0, 0.9238795]
    velocity: 0.5
    acceleration: 5
    n_point: 1

  close_gripper:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_0_force_100_vel_100"

  probe_extraction:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "real_tool"
    traslation: [0,0.03,0]
    rotation: [0,0,0,1]
    velocity: 0.2
    acceleration: 5
    n_point: 1

  up_from_extracion:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "real_tool"
    traslation: [0,0,-0.08]
    rotation: [0,0,0,1]
    velocity: 0.5
    acceleration: 5
    n_point: 1

  move_to_probe_testing:
    skill_type: "ur_move_to"
    goal_frame: "probe_testing"
    tool_frame: "open_tip"
    acceleration: 10
    velocity: 3

  probe_test:
    skill_type: "ur_simple_touch_base"
    MOVEX: 0.0
    MOVEY: 0.0
    MOVEZ: 1.0
    VELOCITY: 0.05
    ACCELERATION: 0.5
    FORCE: 10

  up_from_test:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "real_tool"
    traslation: [0,0,-0.12]
    rotation: [0,0,0,1]
    velocity: 0.5
    acceleration: 5
    n_point: 1

  move_to_probe_release:
    skill_type: "ur_move_to"
    goal_frame: "probe_release"
    tool_frame: "open_tip"
    acceleration: 5
    velocity: 1

  open_gripper:
    skill_type: "robotiq_gripper_move"
    property_id: "pos_80_force_100_vel_100"

# Da Qui
  down_to_release:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "real_tool"
    traslation: [0,0,0.14]
    rotation: [0,0,0,1]
    velocity: 0.5
    acceleration: 5
    n_point: 1

  up_from_release:
    skill_type: "ur_linear_move"
    reference_frame: "reference"
    tool_frame: "real_tool"
    traslation: [0,0,-0.14]
    rotation: [0,0,0,1]
    velocity: 0.5
    acceleration: 5
    n_point: 1
